---
layout: page-nav.liquid
title: CØASTLiNE - SRQ Am Series and Music Festival Band Lineup
---
<style>
.bandname {
  font-size: 32px;
  padding-right: .5em;
}
</style>
<div id="content-wrapper">
<div style="padding-top:80px;">

<div class="container">
<h1 class="aileronultralight">BAND&#8203;<b>LiNEUP</b></h1>
{%- for band in collections.band -%}
  <div class="row">
    <div class="col-md-3">
      <img class="img-fluid" src="{{ '/img/' | append: band.data.posterImg | url }}" alt="{{ band.data.bandName }} Band Photo">
    </div>
    <div class="col-md-9">
      <div class="row align-items-center">
        {% if band.data.bandWebsite %}
        <a class="bandname" href="{{ band.data.bandWebsite }}" target="_blank">{{ band.data.bandName }}</a>
        {% else %}
        <span class="bandname">{{ band.data.bandName }}</span>
        {% endif %}       
        
        {% if band.data.url_insta %}
        <a href="{{ band.data.url_insta }}" target="_blank"><i data-feather="instagram" data-feather-height="32"></i></a>
        {% endif %}
        {% if band.data.url_fb %}
        <a href="{{ band.data.url_fb }}" target="_blank"><i data-feather="facebook" data-feather-height="32"></i></a>
        {% endif %}
        {% if band.data.url_twitter %}
        <a href="{{ band.data.url_twitter }}" target="_blank"><i data-feather="twitter" data-feather-height="32"></i></a>
        {% endif %}
        {% if band.data.url_youtube %}
        <a href="{{ band.data.url_youtube }}" target="_blank"><i data-feather="youtube" data-feather-height="32"></i></a>
        {% endif %}
      </div>
      <div class="row">
        {{ band.templateContent }}
      </div>
    </div>
  </div>
{%- endfor -%}
</div>
</div>
</div>