---
layout: page-nav.liquid
title: CØASTLiNE - Events
---
<style>
.eventname {
  font-size: 32px;
  padding-right: .5em;
}
</style>

<div id="content-wrapper">
<div style="padding-top:80px;">

<h1><b>Events and upcoming festivities</b></h1>
<p class="lato">
Here you'll find a wonderful, handcrafted selection of only the finest, artisanal, responsibly sourced, organic, events.
</p>

<h1 class="aileronultralight">UPCOMiNG&#8203;<b>EVENTS</b></h1>
{%- for event in collections.event -%}

<div class="container">
  <div class="row">
    {% if event.data.posterImg %}
    <div class="col-md-3">
      <img class="img-fluid" src="{{ '/img/' | append: event.data.posterImg | url }}" alt="{{ event.data.event_title }} Event Photo">
    </div>
    {% endif %}
    <div class="col-md-9">
      <div class="row align-items-center">
        {% if event.data.event_website %}
        <a class="eventname" href="{{ event.data.event_website }}" target="_blank">{{ event.data.event_title }}</a>
        {% else %}
        <span class="eventname">{{ event.data.event_title }}</span>
        {% endif %}       
        
        {% if event.data.url_insta %}
        <a href="{{ event.data.url_insta }}" target="_blank"><i data-feather="instagram" data-feather-height="32"></i></a>
        {% endif %}
        {% if event.data.url_fb %}
        <a href="{{ event.data.url_fb }}" target="_blank"><i data-feather="facebook" data-feather-height="32"></i></a>
        {% endif %}
        {% if event.data.url_twitter %}
        <a href="{{ event.data.url_twitter }}" target="_blank"><i data-feather="twitter" data-feather-height="32"></i></a>
        {% endif %}
        {% if event.data.url_youtube %}
        <a href="{{ event.data.url_youtube }}" target="_blank"><i data-feather="youtube" data-feather-height="32"></i></a>
        {% endif %}
      </div>
        {% if event.data.location_name %}
        <a href="{{ event.data.location_url }}" target="_blank">
        {{ event.data.location_name }}<br>
        {{ event.data.location_street }}<br>
        {{ event.data.location_city }}, {{ event.data.location_state }} {{ event.data.location_zip }}<br></a>
        {% endif %}
    </div>
  </div>
</div>
{%- endfor -%}
  
</div>
